<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>魚種名</th>
          <th>説明</th>
          <th>画像</th>
          <th></th>
        </tr>
      </thead>
      <% @fishes.each do |fish| %>
      <tbody>
        <tr>
          <td><%= fish.fish_name %></td>
          <td><%= fish.introduction %></td>
          <td><%= image_tag fish.get_image(100,100), class: "img-fluid" %></td>
          <td><%= link_to "編集", edit_admin_fish_path(fish.id) %><%= link_to "削除", admin_fish_path(fish.id), method: :delete %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <div class="row">
    <%= link_to "新規作成", new_admin_fish_path %>
  </div>
</div>
