<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <%= link_to "新規作成", new_admin_fish_path, class: 'btn btn-md btn-success' %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>魚種名</th>
            <th>説明</th>
            <th>画像</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @fishes.each do |fish| %>
        <tbody>
          <tr>
            <td><%= fish.fish_name %></td>
            <td><%= fish.introduction %></td>
            <td><%= image_tag fish.get_image(100,100), class: "img-fluid" %></td>
            <td><%= link_to "編集", edit_admin_fish_path(fish.id), class: 'btn btn-md btn-info' %></td>
            <td><%= link_to "削除", admin_fish_path(fish.id), method: :delete, class: 'btn btn-md btn-danger' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
