<div class="container">
  <div classs="row">
    <ul>
    <%= form_with model: @fish, url: admin_fish_index_path, method: :post do |f| %>
    <li><label>魚種ジャンル</label><%= f.collection_select :genre_id, Genre.all, :id, :name , { include_blank: '選択してください'}, {class: 'form-controll', required: true } %></li>
    <li><label>魚種名</label><%= f.text_field :fish_name %></li>
    <li><label>豆知識</label><%= f.text_area :introduction %></li>
    <li><label>旬</label><%= f.text_area :season %></li>
    <li><label>おすすめの食べ方</label><%= f.text_area :recommendation %></li>
    <li><label>画像</label><%= f.file_field :image, accept: "image/*" %></li>
    <li><%= f.submit "新規登録" %></li>
    <% end %>
    </ul>
  </div>
</div>