<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-striped table-dark">
        <%= form_with model: @fish, url: admin_fish_index_path, method: :post do |f| %>
          <tr><th>魚種ジャンル</th><td><%= f.collection_select :genre_id, Genre.all, :id, :name , { include_blank: '選択してください'}, {class: 'form-controll', required: true } %></td></tr>
          <tr><th>魚種名</th><td><%= f.text_field :fish_name %></td></tr>
          <tr><th>豆知識</th><td><%= f.text_area :introduction, size: '40' %></td></tr>
          <tr><th>旬</th><td><%= f.text_area :season, size: '40' %></td></tr>
          <tr><th>おすすめの食べ方</th><td><%= f.text_area :recommendation, size: '40' %></td></tr>
          <tr><th>画像</th><td><%= f.file_field :image, accept: "image/*" %></td></tr>
          <tr><th><%= f.submit "新規登録", class: 'btn btn-md btn-success' %></th><td></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>