<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-striped table-dark">
        <%= form_with model: @post do |f| %>
          <tr><th>魚種</th><td><%= f.collection_select :fish_id, Fish.all, :id, :fish_name , { include_blank: '選択してください'}, {class: 'form-controll', required: true } %></td></tr>
          <tr><th>タイトル</th><td><%= f.text_field :title %></td></tr>
          <tr><th>内容</th><td><%= f.text_area :content %></td></tr>
          <tr><th>レシピ</th><td><%= f.text_area :recipe %></td></tr>
          <tr><th>捌き方</th><td><%= f.text_area :method %></td></tr>
          <tr><th>画像</th><td><%= f.file_field :image, accept: "image/*" %></td></tr>
          <tr><th><%= f.submit '変更を保存する' %></th><td></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>