<div class="container">
  
  <div class="row">
    
    <div class="col-5 mx-auto mt-3">
      <p><b>タグで絞り込み検索</b></p>
      <%= form_tag posts_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :fish_id,
          options_from_collection_for_select(Fish.all, :id, :fish_name, params[:fish_id]),
          {
            prompt: 'タグで絞り込み検索',
            onchange: 'submit(this.form);'
          }
        %>
      <% end %>
    </div>
    <div class="col-3"></div>
    <div class="col-4 mx-auto mt-3">
      <p><b>投稿を検索</b></p>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
       <%= text_field_tag :search %>
       <%= submit_tag '検索する', class: 'btn btn-md btn-info' %>
      <% end %>
    </div>
  </div>
  
  <div class="row d-flex flex-row"> 
    <% @posts.each do |posts| %>
    <div class="ml-3 mt-3">
    <div class="card" style="width: 18rem;">
      <%= image_tag posts.get_image(300,300), class: "img-fluid" %>
      <div class="card-body">
        <%= image_tag posts.user.get_profile_image(100,100), class: "img-fluid" %>
        <h5 class="card-title"><%= posts.title %></h5>
        <p class="card-text"><%= posts.content %></p>
        <p class="card-text"><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %></p>
        <%= link_to "詳細画面へ", post_path(posts.id), class: 'btn btn-primary' %>
      </div>
    </div>
    </div>
    <% end %>
  </div>
  
</div>
      
      
   
