<div class="container">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-striped table-dark">
        <%= form_with model: @post do |f| %>
          <tr><th>魚種</th><td><%= f.collection_select :fish_id, Fish.all, :id, :fish_name , { include_blank: '選択してください'}, {class: 'form-controll', required: true } %></td></tr>
          <tr><th>タイトル</th><td><%= f.text_field :title, size: 40 %></td></tr>
          <tr><th>内容</th><td><%= f.text_area :content, size: "50x5" %></td></tr>
          <tr><th>レシピ</th><td><%= f.text_area :recipe, size: "50x4" %></td></tr>
          <tr><th>捌き方</th><td><%= f.text_area :method, size: "50x5" %></td></tr>
          <tr><th>画像</th><td><%= f.file_field :image, accept: "image/*" %></td></tr>
          <tr><th><%= f.submit "新規登録", class: 'btn btn-md btn-success' %></th><td></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>


