<div class="container">
  
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/list', user: @user %>
    </div>
    
    <div class="col-8">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">画像</div>
        <div class="card-body text-dark">
          <%= image_tag @post.get_image(400,400), class: "img-fluid" %>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">内容</h5>
          <p class="card-text"><%= @post.content %></p>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">レシピ</h5>
          <p class="card-text"><%= @post.recipe %></p>
        </div>
      </div>
      <div class="card w-75 mb-3">
        <div class="card-body">
          <h5 class="card-title">捌き方</h5>
          <p class="card-text"><%= @post.method %></p>
        </div>
      </div>
    </div>
  </div>

</div>