<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
        <%= f.label :name, "魚種ジャンル" %>
        <%= f.text_field :name %>
        <%= f.submit '新規登録', class: 'btn btn-md btn-success' %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @genres.each do |genre| %>
        <tbody>
          <tr>
            <td><%= genre.name %></td>
            <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-md btn-info' %></td>
            <td><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, class: 'btn btn-md btn-danger' %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>