<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
      <table class="table table-striped table-dark">
          <tr><th>会員ID</th><td><%= @user.id %></td></tr>
          <tr><th>氏名</th><td><%= f.text_field :last_name %><%= f.text_field :first_name %></td></tr>
          <tr><th>フリガナ</th><td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td></tr>
          <tr><th>メールアドレス</th><td><%= f.email_field :email %></td></tr>
          <tr><th>電話番号</th><td><%= f.text_field :telephone_number %></td></tr>
          <tr><th>会員ステータス</th>
          <td>
            <%= f.radio_button :is_deleted, :false %>
            <%= f.label :is_delete, "有効" %>
            <%= f.radio_button :is_deleted, :true %>
            <%= f.label :is_delete, "退会" %>
          </td></tr>
          <tr><th><%= f.submit "変更を保存", class: 'btn btn-md btn-success' %></th><td></td></tr>
      </table>
      <% end %>
    </div>
  </div>
</div>