<div class="container">
  <div class="row mt-3">
    <div class="col-offset-2 col-lg-8 mx-auto">
      <table class="table table-striped table-dark">
          <tr><th>会員ID</th><td><%= @user.id %></td></tr>
          <tr><th>氏名</th><td><%= @user.last_name %><%= @user.first_name %></td></tr>
          <tr><th>フリガナ</th><td><%= @user.last_name_kana %><%= @user.first_name_kana %></td></tr>
          <tr><th>メールアドレス</th><td><%= @user.email %></td></tr>
          <tr><th>電話番号</th><td><%= @user.telephone_number %></td></tr>
          <tr><th>会員ステータス</th><td><%= @user.is_deleted ? '退会' : '有効' %></td></tr>
          <tr><th></th><td><%= link_to "編集する", edit_admin_user_path(@user.id) %></td></tr>
      </table>
    </div>
  </div>
</div>