<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/list', user: @user %>
    </div>
    <div class="col-8">
      <% if @user.email == 'guest@example.com' %>
        <p>ゲストユーザはユーザ情報の編集ができません。</p>
      <% else %>
      <table class="table table-striped table-dark">
        <%= form_with model: @user, url: user_path, method: :patch do |f| %>
        <tr><th>名前</th><td><%= f.label :last_name, "(姓)" %><%= f.text_field :last_name %><%= f.label :first_name, "(名)" %><%= f.text_field :first_name %></td></tr>
        <tr><th>名前（カナ）</th><td><%= f.label :last_name_kana, "(セイ)" %><%= f.text_field :last_name_kana %><%= f.label :first_name_kana, "(メイ)" %><%= f.text_field :first_name_kana %></td></tr>
        <tr><th>メールアドレス</th><td><%= f.label :email, "メールアドレス" %><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td></tr>
        <tr><th>電話番号</th><td><%= f.label :telephone_number, "電話番号" %><%= f.text_field :telephone_number %></td></tr>
        <tr><th>自己紹介</th><td><%= f.label :introduction, "自己紹介" %><%= f.text_field :introduction %></td></tr>
        <tr><th>プロフィール画像</th><td><%= f.label :profile_image, "プロフィール画像" %><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></td></tr>
        <tr><th><%= f.submit "編集内容を保存" %></th><td></td></tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
