<div class="container">
  
  <div class="row">
    <div class="col-4">
      <%= render 'list', user: @user %>
      <%= link_to "ユーザ情報を編集する", edit_user_path(current_user.id) %><br>
      <%= link_to "新規投稿する", new_post_path %><br>
      <%= link_to "いいねした投稿を見る", user_users_data_path(@user.id) %>
    </div>
    <div class="col-8">
      <div class="d-flex flex-row">
      <% @posts.each do |posts| %>
      <div class="ml-3 mt-3">
      <div class="card h-100 w-30">
        <%= image_tag posts.get_image(300,300), class: "img-fluid" %>
        <div class="card-body">
          <%= image_tag posts.user.get_profile_image(100,100), class: "img-fluid" %>
          <h5 class="card-title"><%= posts.title %></h5>
          <p class="card-text"><%= posts.content %></p>
          <p class="card-text"><%= link_to "#{posts.post_comments.count} コメント", post_path(posts.id) %></p>
          <%= link_to "詳細画面へ", post_path(posts.id), class: 'btn btn-primary' %>
        </div>
      </div>
      </div>
      </div>
      <% end %>
    </div>
    
  </div>
</div>
