<!DOCTYPE html>
<html>
  <head>
    <title>Scale</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <% if request.fullpath.include? "/admin" %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        <%= link_to "魚種一覧", admin_fish_index_path %>
        <%= link_to "ジャンル一覧", admin_genres_path %>
        <%= link_to "ユーザ一覧", admin_users_path %>
        <%= link_to "コメント一覧", root_path %>
        <%= link_to "トップ", root_path %>
        <% else %>
        <%= link_to "About", about_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "ユーザ一覧", admin_users_path %>
        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <%= link_to "魚種一覧", fish_index_path %>
        <%= link_to "投稿一覧", posts_path %>
        <%= link_to "ユーザ一覧", users_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "About", about_path %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "トップ", root_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
